.custom-toggles {
    $toggle-height: 30px;
    $toggle-width: 65px;

    .custom-toggle {
        width: $toggle-width;
        height: $toggle-height;
        position: relative;
        text-align: center;
    }

    input {
        width: $toggle-width;
        height: $toggle-height;
        z-index: 10;
        position: relative;
        opacity: 0;
        cursor: pointer;
    }

    .toggle-decoration {
        width: $toggle-width;
        height: $toggle-height;
        position: absolute;
        top: 0;
        left: 0;

        &::before {
            position: absolute;
            content: "";
            width: calc(#{$toggle-height} - 2px);
            height: calc(#{$toggle-height} - 2px);
            border-radius: 50%;
            background-color: whitesmoke;
            top: 1px;
            left: 1px;
            z-index: 10;
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
            transition: all 0.2s;

            &:hover {
                box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
            }
        }
        &::after {
            position: absolute;
            content: "";
            width: $toggle-width;
            height: $toggle-height;
            border-radius: 20px;
            background-color: silver;
            top: 0;
            left: 0;
            box-shadow: inset 0 6px 10px rgba(0, 0, 0, 0.15);
        }
    }

    input:checked + .toggle-decoration {
        &::before {
            left: calc(#{$toggle-width} - #{$toggle-height});
        }
        &::after {
            background-color: palevioletred;
        }
    }
}
