$size-checkbox: 30px;

.custom-checkboxes {
    .custom-checkbox {
        display: block;
        padding: 0.3rem 0;
        display: flex;
        align-items: center;
        position: relative;
        input {
            cursor: pointer;
            position: relative;
            width: $size-checkbox;
            height: $size-checkbox;
            margin-right: 15px;
            z-index: 10;
            opacity: 0;
        }
        .checkbox-decoration {
            position: absolute;
            content: "";
            width: $size-checkbox;
            height: $size-checkbox;
            background: lightgray;
            transition: all 0.5s;
        }
        input:hover + .checkbox-decoration {
            background: gray;
        }
        input:checked + .checkbox-decoration {
            background: lightskyblue;
            &::after {
                position: absolute;
                content: "";
                border: solid palevioletred;
                border-width: 0 3px 3px 0;
                transform: rotate(45deg);
                width: 8px;
                height: 18px;
                left: 32%;
                top: 5%;
            }
        }
    }
}
