$size-radio-btn: 30px;

.custom-radio-btns {
    .custom-radio-btn {
        display: block;
        padding: 0.3rem 0;
        display: flex;
        align-items: center;
        cursor: pointer;
        input {
            position: relative;
            width: $size-radio-btn;
            height: $size-radio-btn;
            margin-right: 15px;
            &:hover {
                &::before {
                    background: gray;
                }
            }
            &::before {
                position: absolute;
                content: "";
                width: $size-radio-btn;
                height: $size-radio-btn;
                background: lightgray;
                transition: all .2s;
                border-radius: 50%;
            }
            &:checked {
                &::before {
                    background: lightskyblue;
                }
                &::after {
                    position: absolute;
                    content: "";
                    background-color: palevioletred;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}
