$size-radio-btn: 30px;

.custom-radio-btns {
    .custom-radio-btn {
        display: block;
        padding: 0.3rem 0;
        display: flex;
        align-items: center;
        position: relative;
        input {
            cursor: pointer;
            position: relative;
            width: $size-radio-btn;
            height: $size-radio-btn;
            margin-right: 15px;
            z-index: 10;
            opacity: 0;
            border-radius: 50%;
        }
        .radio-decoration {
            position: absolute;
            content: "";
            width: $size-radio-btn;
            height: $size-radio-btn;
            background: lightgray;
            transition: all 0.5s;
            border-radius: 50%;
        }
        input:hover + .radio-decoration {
            background: gray;
        }
        input:checked + .radio-decoration {
            background: lightskyblue;
            &::after {
                position: absolute;
                content: "";
                width: calc(#{$size-radio-btn} - 12px);
                height: calc(#{$size-radio-btn} - 12px);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: palevioletred;
                border-radius: 50%;
            }
        }
    }
}
